.product-img {
    width: 100px;
    height: 300px;
}

* {
    font-family: "Poppins", sans-serif;
    font-family: "Public Sans", sans-serif;
}

.checkout-form label{
    font-size: 15px;
    font-weight: 500;
}

.checkout-form input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.order-details label{
    font-size: 12px;
    font-weight: 700;
}

.order-details div{
    font-size: 14px;
    padding: 8px !important;
}